@model List<naya_project.Models.employee>
@{
    ViewBag.Title = "index";
}

<h2>Employee List</h2>
<table class="table" border="1">
    <tr>
        <th>SN</th>
        <th>NAME</th>
        <th>ADDRESS</th>
        <th>CONTACT</th>

    </tr>
</table>
<h2>index</h2>

