@model feri.Models.employee
@{
    ViewBag.Title = "edit";
}

<h2>edit</h2>
@using (Html.BeginForm("EditData", "Nayaaa"))
{
    <br />
    <label class="col-md-2">Id</label>

        <input type="hidden" name="id" class="form-control" value="@(Model.id)"/>
   
    <label class="col-md-2">Name</label>
    <div class="col-md-4">
        <input type="text" name="name" class="form-control" value="@(Model.name)"/>
    </div>
    <br />
    <br />
    <br />
    <label class="col-md-2">Address</label>
    <div class="col-md-4">
        <input type="text" name="Address" class="form-control" value="@(Model.address)" />
    </div>
    <br />
    <br />
    <br />


    <div class="col-md-4">
        <input type="Submit" name="Save" value="submit" />
    </div>
}

