
@{
    ViewBag.Title = "create";
}



<h1>Create</h1>
@using (Html.BeginForm("SaveData","salary",FormMethod.Post))
{ 
    <label class="col-md-2">Employee_nabin</label>
    @Html.DropDownList("employeeList", null, "Select", htmlAttributes: new { @Name = "e_id", @class = "form-control" })
    <label class="col-md-2">S_Id</label>
    <div class="col-md-4">
        <input type="text" name="s_id" class="form-control" />
    </div><br />
    <label class="col-md-2">E_Id</label>
    <div class="col-md-4">
        <input type="text" name="e_id" class="form-control" />
    </div><br />
    <label class="col-md-2">SalaryPaid</label>
    <div class="col-md-4">
        <input type="text" name="salary_paid" class="form-control" />
    </div><br />
    <label class="col-md-2">Date</label>
    <div class="col-md-4">
        <input type="date" name="paid_date" class="form-control" />
    </div><br />
    <label class="col-md-2">Submit</label>
    <div class="col-md-4">
        <input type="submit" name="save" value="submit" class="nabs" />
    </div>
}



