@model kina.Models.employe
@{
    ViewBag.Title = "edit";
}

<h2>edit</h2>

@using (Html.BeginForm("UpdateData", null))
{
    <input type="hidden" name="e_id" class="form-control" value="@(Model.e_id)" />
    <label class="col-md-2">Name</label>
    <div class="col-md-4">
        <input type="text" name="" class="form-control" value="@(Model.e_name)" />
    </div>
    <br />
    <label class="col-md-2">Salary</label>
    <div class="col-md-4">
        <input type="text" name="salary" class="form-control" value="@(Model.salary)" />
    </div>
    <br />
    <div class="col-md-4">
        <input type="submit" name="save" value="submit" />
    </div>}
