@model List<pro.Models.employee>
@{
    ViewBag.Title = "create";
}

<h2>create</h2>
<form action="SaveData">
    <label>Name:</label>
    <input type="text" name="name" />
    <label>Address:</label>
    <input type="text" name="address" />
    <button type="submit">SaveData</button>

</form>

